PORT=3000

# URI para correr con Docker Compose
MONGO_URI=mongodb://admin:password@mongo:27017/biorehab?authSource=admin

# URI para desarrollo local sin Docker
MONGO_URI_LOCAL=mongodb://localhost:27017/biorehab

NODE_ENV=development
